#miniViewContainer button {
    border: 1px solid white;
    border-radius: 70% 70% 0;
    border-bottom: 1px dotted #d4d7da;
}
.dragndrop {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.objViewWin {
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
    max-height: calc(100% - 40px - 1em);
    min-width: 20%;
    bottom: 0;
    padding: 20px;
    position: relative;
    border: .5em groove #000000;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 25px 10px #897c7caa;
}
.objViewWin.minimized {
    position: absolute;
    bottom: -100%;
}
.minimized{
    opacity: 0;
    z-index: 0 !important;
}
#miniViewContainer{
    height: 100%;
}
.not_accessible {
    filter: contrast(0.4) blur(.7px);
    cursor: not-allowed;
}
#objViewCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 2em;
    height: calc(100% - 2em);
}
body {
    background: #000;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0;
}
canvas {
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer
}
input.pointsize {
    width: inherit;
}
.menu {
    position: absolute;
    top: 4%;
    left: 3%;
    background-color: #ffffff6b;
    border-radius: 15%;
}
.hint{
    	display: flex;
	position: absolute;
 	margin: auto; 
	height: 30%; 
	width: 30%;  
	z-index: 1; 	
	border-radius: 5%; 
	align-items: center;
	text-align: center;
    	color: #fff;
    	box-shadow: inset 1px 2px 5px 3px #0007;
    	background: #7775;
    	justify-content: center;
    	padding: inherit;

}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #0ac8f66b;
    box-shadow: 2px 2px 6px #555;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: url(https://cdn.wallpapersafari.com/9/12/7F9LvO.jpg);
    background-attachment: fixed;
    background-size: calc(100vw + 10px);
    background-repeat: no-repeat;
}
#Dialog {
    max-height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #110;
    z-index: 5;
    color: darkgrey;
    overflow: auto;
    padding-left: 6em;
    border-color: #ccf;
    transition: .8s ease all;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}
.option-menu-bar button, input, label {
    color: white;
    z-index: 4;
    margin: .2em .5em;
}
.import::-webkit-file-upload-button {
    visibility: hidden;
}
.import::before {
    content: 'import file';
    display: inline-block;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 0.1em 8px;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.8em;
}
.import:hover::before {
    border-color: black;
}
.import:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.hidden{
    visibility: hidden;
}
#Dialog.minimized {
    bottom: -50vh;
    left: -10%;
}
button.special-btn {
    height: auto;
    padding: .5em;
    border: 1px solid;
    position: absolute;
    z-index: 3;
    border-radius: 25%;
    font-style: italic;
    transition: 1s ease-in-out all;
}
button#showOrHideDialog {
    left: 1.5em;
    background: #000;
    bottom: 3em;
    position: fixed;
}

.egPic{    
    height:      calc(100% - 40px);
    width:       100%;
    top:         30px;
    align-items: center;
    position:    relative;
    background:  url(bleft.png) no-repeat;
    background-size:     contain;
    background-position: center;
}
input.rotateBtn {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input.rotateBtn::after {
    position: absolute;
    visibility: visible;
    content: 'Rotate';
}
input.Open_Further_Options {
    left: 0;
    position: absolute;
    visibility: hidden;
    height: 100%;
    width: 2em;
    margin: 0;
}

    input.Open_Further_Options::before {
        content: "|||";
        transform: rotateZ(90deg);
        display: flex;
        position: absolute;
        width: 2em;
        height: 100%;
        top: 0;
        opacity: 1;
        left: 0;
        /*background-color: #207d9d42;*/
        align-items: center;
        justify-content: center;
        visibility: visible;
    }
    input.Open_Further_Options.\.opt-135Deg {
        transform: rotateZ(45deg);
    }
.Open_Further_Options_Container {
    display: flex;
    background: linear-gradient(5deg, rgb(102 254 255 / 51%), #1f8168ab, #7d2a2adb);
    position: absolute;
    top: 2em;
    border: 1px solid #fff;
    border-radius: 5%;
    padding: .2em;
    left: .5em;
    z-index: 6;
    flex-direction: column;
    flex-wrap: nowrap;
}
.option-menu-bar {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: flex-end;
    top: 0;
    left: 0;
    color: white !important;
    width: 100%;
    min-width: 50px;
    min-height: 25px;
    background: linear-gradient(5deg, rgb(12 154 189 / 71%), #1f8168c2, #7700002e);
    box-shadow: 1px 2px 5px 3px #0009;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 2em;
    overflow: hidden;
    transition: .5s ease-in all;
}
.objViewWin .option-menu-bar {
    min-height: 10px;
    height: 1.5em;
    background: linear-gradient(5deg, rgb(102 254 389 / 41%), #1f816844, #77000020);
    font-size: 1em !important;
}
button.Windbtn.closeBtn.objViewBtn:hover {
    background: #ff9a9a59;
}
button.Windbtn.objViewBtn {
    background: #ffffff00;
    color: #fff;
    display: flex;
    width: 2em;
    margin: 0;
    padding: .1em .2em;
    align-items: center;
    border: 1px solid #a9a9a944;
    justify-content: center;
}
button:nth-child(even) {
    background: #fff0;
}
button:nth-child(even) {
    background: #fff3;
}
button
{   
    background: transparent;
    width: fit-content;
    height: 100%;
    border: none;
    z-index: 3;
    color: white;
}